{% extends "base.html" %}
{% block body %}
<main class="note">
  <h1>Plany zajęć AGH</h1>
  <p>
    Nieoficjalna przeglądarka planów zajęć z USOSweb AGH: plany kierunków,
    przedmiotów i grup zajęciowych, z ukrywaniem niepotrzebnych zajęć
    i łączeniem kilku planów w jeden.
  </p>
  <p>
    Strona jest w budowie. Plany pojawią się tutaj, gdy będzie gotowy
    interfejs i pobieranie danych z USOS.
  </p>
  <p class="meta">
    Projekt nie jest związany z AGH ani z twórcami USOS.
    <a href="https://github.com/Wendermann/AGH-Schedule-Viewer">Kod źródłowy</a>
  </p>
</main>
{% endblock %}
